<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ai Project{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="{% block body_class %}{% endblock %}">

    <!-- 상단 네비게이션바 분리 파일 불러오기 -->
    {% include "navbar.html" %}

    <!-- 페이지별 본문 영역 -->
    {% block content %}
    {% endblock %}

    <!-- 하단 공통 푸터 -->
    <footer class="footer" id="main-footer">
        <div class="footer-bottom">
            <p><a href="#">개인정보처리방침</a> | <a href="#">이용약관</a></p>
            <p>주소: 대구광역시 동구 동구대로 566</p>
        </div>
    </footer>

    <!-- 자바스크립트 영역 -->
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    {% block script %}{% endblock %}
</body>

</html>